.content__main.views-main	{
	background-color: @body-bg;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	.make-sm-column(8);
}

.views-main .view {
	display: none;
}

.views-main .view.is-active {
	display: block;
	background-color: #fff;
	padding: 0 @padding-large-horizontal @padding-large-horizontal @padding-large-horizontal;
	margin-bottom: 2em;
	border-radius: @border-radius-small;
	border: solid 1px @gray-lighter;
}

.views-nav .list-group-item {
	color: @link-color;
	
	&:hover {
		color: @link-hover-color;
	}
}

.views-nav a:after {
	font-family: 'FontAwesome';
	content: @angle-right;
	position: absolute;
	right: @padding-base-horizontal;
}

.view-nav {
	text-align: justify;
	list-style: none;
	margin-top: 2em;
	padding: 0;
	
	.visible-xs;
}

.view-nav li {
	display: inline-block;
}

.view-nav__contents:before {
	font-family: 'FontAwesome';
	content: @reorder;
	color: @link-color;
	padding-right: @padding-base-horizontal;
}

.view-nav__next:after {
	font-family: 'FontAwesome';
	content: @angle-right;
	color: @link-color;
	padding-left: @padding-base-horizontal;
}

.view-nav:after {
	content: '';
	display: inline-block;
	width: 100%; // force a line break to make text-align: justify to work
}


@media (min-width: @screen-sm) {
	
	.content__row.views .content__sidebar {
		float: right;
		margin-left: 0;
	}
	
	.views-nav {
		margin-bottom: 2em;
	}
	
	.views-nav .list-group-item {
		background-color: @body-bg;
		border: 0;
		padding-left: 0;
		color: @blue;
		
		&:hover,
    &:focus {
      background-color: transparent;
    }

	}
	
	.views-nav .list-group-item.is-active {
		z-index: 100;
	//	left: -31px;
		background-color: #fff;
	//	padding-left: 31px;
		border: solid 1px @gray-lighter;
		border-left: solid 1px #fff;
		border-right: solid 3px @green;
		color: @gray;
	}
	
	.views-nav .list-group-item.is-active:before {
		content: '';
		z-index: 100;
		margin-left: -32px;
		width: 31px;
		height: 40px;
		padding: 12px 0;
		background-color: #fff;
		padding-left: 31px;
		border: solid 1px @gray-lighter;
		border-left: solid 1px #fff;
		border-right: 0;
	}
	
	.views-nav a:after {
		display: none;
	}
	
}