.content__main .team-roster {
	padding-top: @padding-large-horizontal;

	@media (min-width: @screen-sm) {
		padding-top: (@padding-large-horizontal * 2);
	}
}

.col--donate {
	.make-sm-column(3);
}

.team-roster .table {
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
      }
    }
  }
}