<!DOCTYPE html>
<!--[if lt IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Start a Fundraising Campaign / Team JDRF to Cure Diabetes</title>
  
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6575652/749262/css/fonts.css" />
<link href="../css/jdrf.css" rel="stylesheet">
  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<link href="../css/jdrf-ltie9.css" rel="stylesheet">
	<script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/html5shiv.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/respond.min.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/js/selectivizr-min.js"></script>
<![endif]-->
  
<script src="//jdrf.org/dev/jdrf-framework/js/modernizr-2.6.2.min.js"></script>  
</head>

<body>
	<!--[if lt IE 8]>
  	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 
<div class="page" id="page">  
  
  <header id="top" role="banner" class="site-header">
	<span class="sr-only">Toggle Site Navigation</span>
	<a class="site-menu__toggle" data-toggle="offcanvas"><span class="icon-reorder"  aria-hidden="true"></span></a>
	
	<div class="site-header__container">
		<div class="site-header__row">
			<div class="site-header__logo">
				<a class="logo--team-jdrf" href="http://team.jdrf.org">Team JDRF</a>
			</div>
			<nav class="site-header__links">
			  <span class="site-header__links--left">
			  	<a href="#">Join an Event</a>
			  	<a href="#">Start an Event</a>
			  	<a href="#">Start a Campaign</a>
			  </span>
			  <span class="site-header__links--right">
			  	<a href="#" class="donate">Donate</a>
			  	<a href="#" class="login">Log in</a>
			  </span>
			</nav>
		</div>
	</div>
</header>  
  <nav id="full-site-menu" class="site-menu" role="navigation">
	
	<a data-toggle="offcanvas"><span class="icon-remove"></span></a>

  <ul class="site-menu__list">
  	<li class="site-menu__list--item donate"><a href="#">Donate</a></li>
  	<li class="site-menu__list--item login"><a href="#">Log in</a></li>
  	<li class="site-menu__list--item"><a href="#">Join an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start a Campaign</a></li>
  	<li class="site-menu__list--item more visible-xs"><a data-toggle="collapse" data-target="#more" href="#">More</a></li>
  </ul>

<div id="more" class="collapse">  
  <ul class="site-menu__list">
  	<li class="site-menu__list--section-title">Events
  		<li class="site-menu__list--item"><a href="#">Search for an Event</a></li>
  		<li class="site-menu__list--item"><a href="#">Team JDRF Challenge</a></li>
  		<li class="site-menu__list--item"><a href="#">Community Events</a></li>
  		<li class="site-menu__list--item"><a href="#">Training with Team JDRF</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Campaigns
  		<li class="site-menu__list--item"><a href="#">Search for a Campaign</a></li>
  		<li class="site-menu__list--item"><a href="#">Start an Individual Campaign</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Learn More
  		<li class="site-menu__list--item"><a href="#">About Team JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">Fundraising</a></li>
  		<li class="site-menu__list--item"><a href="#">About JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">What is T1D?</a></li>
  		<li class="site-menu__list--item"><a href="#">Tax Information</a></li>
  		<li class="site-menu__list--item"><a href="#">Contact JDRF</a></li>
  	</li>
  </ul>
</div> 
</nav>
	<div class="page__container">
	
		<div class="hero-image--campaign">
			<img src="../images/hero_dandelion_1600x384.jpg" alt="hero_dandelion_1170x480">
		</div>
	
		<div class="page__row">
		
			<div class="page-header hero-overlay">
			
				<h1 class="page-title--landing-page">Start an Individual Fundraising Campaign</h1>
				
				<div class="intro--landing-page">
					<p class="lead">You can start a personal fundraising campaign that fits your interests, time, and talents. The money you raise will help JDRF create a world without type 1 diabetes (T1D).</p>
					<button type="button" role="sign up" class="btn btn-green btn-lg-wide" href="#">Get Started</button>
				</div>
		
			</div> <!-- /page-header -->
		
			<div class="content__row">
							
				<div class="content__main--landing-page">
					<section class="product-grid">
						<div class="product-grid__intro">
							<h3 class="product-grid__heading">Popular Ideas</h3>
							<p class="product-grid__lead">Here are just a few campaign suggestions, but don’t let us hold you back. When you show your creativity and dedication to T1D fundraising, any campaign you start is sure to be a winner.</p>
						</div> <!-- / product grid heading -->
					<div class="product-grid__products">		
						<div class="product-grid__product">
							<h3>T1Day</h3>
							<p>Kick off National Diabetes Awareness Month in November with a “T1Day” campaign. What better time to put your personal spin on fundraising for T1D?</p>
							<a class="btn btn-outline">Get Started</a>
						</div>
						<div class="product-grid__product">
							<h3>Memorial</h3>
							<p>Honor someone whose life has been affected by T1D. Friends and family can make donations and pay tribute in a memorial campaign.</p>
							<a class="btn btn-outline">Get Started</a>
						</div>
						<div class="product-grid__product">
							<h3>Endurance</h3>
							<p>Reach a physical and personal goal while helping to reach a world without T1D. Pick any athletic challenge that tests your mettle and get moving. </p>
							<a class="btn btn-outline">Get Started</a>
						</div>
						<div class="product-grid__product">
							<h3>Create your own</h3>
							<p>Think up a campaign that inspires you. Whether you’re celebrating a personal milestone, sharing a hobby, or performing community service, your enthusiasm will rally folks to give. </p>
							<a class="btn btn-outline">Get Started</a>
						</div>
					</section>
					
					<div class="alternate-choice--community-events">
						<div class="alternate-choice--community-events__inner">
							<a href="#" class="alternate-choice__heading">Need teams, tickets, and more?</a>
							<p>Start a community event instead.</p>
						</div>
					</div>
					

					
				</div>	<!-- / main content -->
			
			</div> <!-- /content__row -->
		
		</div> <!-- /page__row -->
	
	</div> <!-- /page__container -->
  
  <footer>
	<div class="site-menu--footer__wrap">
		<nav id="site-menu--footer" class="site-menu--footer" role="navigation">
		  <ul class="site-menu--footer__events">
		  	<li class="site-menu--footer__section-title">Events
		  		<li class="site-menu--footer__item"><a href="#">Search for an Event</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Team JDRF Challenge</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Community Events</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Training with Team JDRF</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__campaigns">
		  	<li class="site-menu--footer__section-title">Campaigns
		  		<li class="site-menu--footer__item"><a href="#">Search for a Campaign</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Start an Individual Campaign</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__about">
		  	<li class="site-menu--footer__section-title">Learn More
		  		<li class="site-menu--footer__item"><a href="#">About Team JDRF</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Fundraising</a></li>
		  		<li class="site-menu--footer__item"><a href="#">About JDRF</a></li>
		  		<li class="site-menu--footer__item"><a href="#">What is T1D?</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Tax Information</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__connect">
		  	<li class="site-menu--footer__section-title">Connect
		  	<li class="site-menu--footer__item"><a href="#">Contact JDRF</a></li>
		  	<li>
		  		<a href="#"><span class="icon-facebook"  aria-hidden="true"></span></a>
					<a href="#"><span class="icon-twitter"  aria-hidden="true"></span></a>
					<a href="#"><span class="icon-google-plus"  aria-hidden="true"></span></a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="footer-brand">
		<div class="footer-brand__container">
			<img class="footer-brand__logo--teamjdrf" src="../images/logo-team-to-cure-diabetes.svg"></img>
			<img class="footer-brand__logo--jdrf" src="../images/JDRF_2C_hex.svg"></img>
		</div>
	</div>

	<div class="footer-links--bottom-bar__wrap">
		<div class="footer-links--bottom-bar">
			<span><a href="http://jdrf.org/"><i class="icon-arrow-left"></i>&nbsp;&nbsp;JDRF.org</a></span>
			<span><a href="#">Privacy Policy</a></span>
			<span>&copy; JDRF 2013</span>
		</div>
	</div>

</footer>  
</div> <!-- /page -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="//jdrf.org/dev/jdrf-framework/js/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/js/jdrf-teamjdrf.js"></script>
  <script type="text/javascript">
  	$.noConflict();
		// Code that uses other library's $ can follow here.
	</script>
  
</body>  

</html>