<!DOCTYPE html>
<!--[if lt IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Event Page / Team JDRF to Cure Diabetes</title>
  
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6575652/749262/css/fonts.css" />
<link href="../css/jdrf.css" rel="stylesheet">
  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<link href="../css/jdrf-ltie9.css" rel="stylesheet">
	<script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/html5shiv.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/respond.min.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/js/selectivizr-min.js"></script>
<![endif]-->
  
<script src="//jdrf.org/dev/jdrf-framework/js/modernizr-2.6.2.min.js"></script>  
</head>

<body>
	<!--[if lt IE 8]>
  	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 
<div class="page" id="page">  
  
  <header id="top" role="banner" class="site-header">
	<span class="sr-only">Toggle Site Navigation</span>
	<a class="site-menu__toggle" data-toggle="offcanvas"><span class="icon-reorder"  aria-hidden="true"></span></a>
	
	<div class="site-header__container">
		<div class="site-header__row">
			<div class="site-header__logo">
				<a class="logo--team-jdrf" href="http://team.jdrf.org">Team JDRF</a>
			</div>
			<nav class="site-header__links">
			  <span class="site-header__links--left">
			  	<a href="#">Join an Event</a>
			  	<a href="#">Start an Event</a>
			  	<a href="#">Start a Campaign</a>
			  </span>
			  <span class="site-header__links--right">
			  	<a href="#" class="donate">Donate</a>
			  	<a href="#" class="login">Log in</a>
			  </span>
			</nav>
		</div>
	</div>
</header>  
  <nav id="full-site-menu" class="site-menu" role="navigation">
	
	<a data-toggle="offcanvas"><span class="icon-remove"></span></a>

  <ul class="site-menu__list">
  	<li class="site-menu__list--item donate"><a href="#">Donate</a></li>
  	<li class="site-menu__list--item login"><a href="#">Log in</a></li>
  	<li class="site-menu__list--item"><a href="#">Join an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start a Campaign</a></li>
  	<li class="site-menu__list--item more visible-xs"><a data-toggle="collapse" data-target="#more" href="#">More</a></li>
  </ul>

<div id="more" class="collapse">  
  <ul class="site-menu__list">
  	<li class="site-menu__list--section-title">Events
  		<li class="site-menu__list--item"><a href="#">Search for an Event</a></li>
  		<li class="site-menu__list--item"><a href="#">Team JDRF Challenge</a></li>
  		<li class="site-menu__list--item"><a href="#">Community Events</a></li>
  		<li class="site-menu__list--item"><a href="#">Training with Team JDRF</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Campaigns
  		<li class="site-menu__list--item"><a href="#">Search for a Campaign</a></li>
  		<li class="site-menu__list--item"><a href="#">Start an Individual Campaign</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Learn More
  		<li class="site-menu__list--item"><a href="#">About Team JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">Fundraising</a></li>
  		<li class="site-menu__list--item"><a href="#">About JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">What is T1D?</a></li>
  		<li class="site-menu__list--item"><a href="#">Tax Information</a></li>
  		<li class="site-menu__list--item"><a href="#">Contact JDRF</a></li>
  	</li>
  </ul>
</div> 
</nav>
	<div class="page__container">
	
		<ol class="breadcrumb">
			<li><a href="#"><span class="icon-home"></span></a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Disney Marathon 2014</a></li>
		</ol>
		
		<div class="page__row">
		
			<div class="page-header">
				
				<h1 class="team-name">Disney Marathon</h1>
						
			</div>
		
			<div class="content__row views">
			
				<div class="content__sidebar" role="complimentary">
				
					<div class="view views-nav list-group" id="event-info-nav">
						<a class="list-group-item is-active" href="#description" data-pushview>Description</a>
						<a class="list-group-item" href="#what-to-expect" data-pushview>What to Expect</a>
						<a class="list-group-item" href="#fundraising" data-pushview>Fundraising</a>
						<a class="list-group-item" href="#weekend-schedule" data-pushview>Weekend Schedule</a>
						<a class="list-group-item" href="#course" data-pushview>Course</a>
						<a class="list-group-item" href="#faq" data-pushview>FAQ</a>
					</div> <!-- /views-nav -->
					
					<div class="widget--social-share">
						<h3>Spread the Word</h3>
						<a href="#"><span class="icon-facebook"  aria-hidden="true"></span></a>
						<a href="#"><span class="icon-twitter"  aria-hidden="true"></span></a>
						<a href="#"><span class="icon-google-plus"  aria-hidden="true"></span></a>
						<a href="#"><span class="icon-envelope"  aria-hidden="true"></span></a>
					</div> <!-- /social share -->
										
					<div class="widget--donor-honor-roll">
						<h3>Top Donors</h3>
						<div class="honor-roll">
							<p>Joshua Luster<br/><span class="honor-roll__donation-amount">$50.00</span></p>
							<p>JSC Speed</p>
							<p>Keith Moyer<br/><span class="honor-roll__donation-amount">$250.00</span></p>
						</div>
						<a href="#" class="btn btn-outline">All Donors</a>
					</div> <!-- /donor honor roll -->
					
				</div> <!-- /sidebar -->

				
				<div class="content__main views-main">
						<div class="view is-active" id="description">
						  <div class="view-content">
						  	<h2>Description</h2>
						  	<p>Imagine a weekend of runs where every mile is filled with Disney fun! Join us at the 2014 Walt Disney World® Marathon Weekend January 9-12, 2014, for a weekend of races that are magical as they are memorable. From Disney's Health & Fitness Expo to running through all four Theme Parks in the Marathon, to collecting your medal from Mickey Mouse and his friends, you'd be, well, goofy to miss it!</p>
						  	<h3>Available registration types</h3>
						  	<ul>
						  		<li>Half marathon - 13.1 miles through Magic Kingdom and Epcot</li>
					  				  		<li>Full marathon - 26.2 Magical Miles through four parks</li>
						  		<li>Goofy - Combines participation in both Half Marathon and Full Marathon</li>
						  		<li>Dopey - Participants will run the 5K, 10K, Half Marathon and Marathon</li>
						  	</ul>
						  	<ul class="view-nav">
						    	<li class="view-nav--contents"><a href="#event-info-nav" data-popview>Contents</a></li>
						  		<li class="view-nav--next"><a href="#what-to-expect" data-pushview>What to Expect</a></li>
						    </ul>
						  </div>
						</div> <!-- /description -->
						
						<div class="view" id="what-to-expect">
						  <div class="view-content">
						  	<h2>What to Expect</h2>
						  	<p>Team JDRF to Cure Diabetes is a partnership: Runners commit to a fundraising minimum, with packages starting at $2,000. In exchange, JDRF provides runners with support and coaching in the months leading up to as well as throughout the Race weekend, so that runners can spend the weekend running, exploring, and enjoying the experience of a lifetime!</p>
						
						  	<p>Some of what may be included:</p>
						
						  	<h4>Training Tee</h4>
						  	<p>Upon completing your registration, you will receive a Team JDRF technical tee, so that you can prepare for your race and tell the world you are running to help find a cure for T1D!</p>
						
						  	<h4>Group Celebration</h4>
						  	<p>Get together with your fellow Disney Runners and celebrate your accomplishments on and off the course!</p>
						
						  	<h4>Race Singlet</h4>
						  	<p>All runners will receive a Team JDRF to Cure Diabetes singlet to wear on Race day.</p>
						
						  	<h4>T-Shirt and Finish Line Medal</h4>
						  	<p>Upon crossing the finish line, all runners will receive a finish line t-shirt as well as a medal.</p>
						
						  	<h4>Lodging</h4>
						  	<p>The JDRF host hotel for the Disney Marathon will be Disney's Port Orleans Resort. JDRF covers hotel accommodations (double occupancy) based on the fundraising package selected. For more information on the fundraising please click here. Please note, private rooms are accommodated based on availability, and for an additional fee.</p>
						
						  	<h4>The knowledge that you've made a significant difference in the fight against diabetes.</h4>
						  	<ul class="view-nav">
						    	<li class="view-nav--contents"><a href="#event-info-nav" data-popview>Contents</a></li>
						  		<li class="view-nav--next"><a href="#fundraising" data-pushview>Fundraising</a></li>
						    </ul>
						  </div>
						</div> <!-- /what to expect -->
						
						<div class="view" id="fundraising">
						  <div class="view-content">
						  	<h2>Fundraising</h2>
						  	<h4>1.  Raise the Funds for Research</h4>
						  	<p>Team JDRF to Cure Diabetes is a partnership: Runners commit to raising a minimum dollar amount and in exchange, JDRF provides each runner with support and coaching in the months leading up to and throughout the Race weekend. Upon registering, you are asked to select your level of fundraising (click here for the fundraising options) - packages start at $2,000. JDRF has created powerful online fundraising tools to make it easy for you to reach your goal. Your local JDRF chapter will help you throughout your process with materials, ideas, and support.</p>
						
						  	<h4>2.  Age Requirements</h4>
						  	<p>Full marathon runners must be 18 years of age or older by the date of the Race. Half marathon runners must be 14 years of age or older by the date of the Race and must have a signed parental/guardian consent form.</p>
						
						  	<h4>3.  Complete the Registration Form</h4>
						  	<p>All runners must fully complete the registration form and submit a non-refundable registration fee. The registration fee must be paid during the registration process via credit card and will count towards your fundraising minimum. Click here to access the registration form online.</p>
						
						  	<h4>4.  Agree to the Contract and Financial Policies & Commitments</h4>
						  	<p>Upon completing your registration, you will be asked to commit to being responsible for the remaining balance of your fundraising minimum, should you not reach it. We make a commitment to provide you with support for your Race weekend and the training to get you prepared for it. It is important to the program that you are able to commit to reaching your fundraising minimum and we are here to help you every step of the way.</p>
						  	<ul class="view-nav">
						    	<li class="view-nav--contents"><a href="#event-info-nav" data-popview>Contents</a></li>
						  		<li class="view-nav--next"><a href="#weekend-schedule" data-pushview>Weekend Schedule</a></li>
						    </ul>
						  </div>
						</div> <!-- /fundraising -->
						
						<div class="view" id="weekend-schedule">
						  <div class="view-content">
						  	<h2>Weekend Schedule</h2>
						  	<p class="lead">After all of your dedication, fundraising, and training, JDRF offers a fun-filled experience of a lifetime.</p>
						  	<h4>Thursday</h4>
						  	<p><strong>6:15 a.m.</strong><br/>5K (Dopey participants)</p>
						  	<p><strong>8:30 a.m. - 6:30 p.m.</strong><br/>Disney's Health & Fitness Expo</p>
						  	
						  	<hr />
						
						  	<h4>Friday</h4>
						  	<p><strong>4:30 a.m. - 6:00 a.m. and 7:00 - 9:00 a.m.</strong><br/>10K (Dopey participants)</p>
						  	<p><strong>8:30 a.m. - 6:30 p.m.</strong><br/>Disney's Health & Fitness Expo</p>
						  	<p>Meet your Team JDRF team mates at our welcome celebration</p>
						  	
						  	<hr />
						  	
						  	<h4>Saturday</h4>
						  	<p><strong>3:00 a.m. - 4:00 a.m. and 7:00 a.m. - 10:30 a.m.</strong><br/>Half Marathon (Dopey, Goofy, Half Marathon participants)</p>
						  	<p><strong>9:30 a.m. - 4:30 p.m.</strong><br/>Disney's Health & Fitness Expo</p>
						  	
						  	<hr />
						  	
						  	<h4>Sunday</h4>
						  	<p><strong>3:00 a.m. - 4:00 a.m. and 7:00 a.m. - 2:30 p.m.</strong><br/>Full Marathon (Dopey, Goofy, Full Marathon participants)</p>
						  	<ul class="view-nav">
						    	<li class="view-nav--contents"><a href="#event-info-nav" data-popview>Contents</a></li>
						  		<li class="view-nav--next"><a href="#course" data-pushview>Course</a></li>
						    </ul>
						  </div>
						</div> <!-- /weekend schedule -->
						
						<div class="view" id="course">
						  <div class="view-content">
						  	<h2>Course</h2>
						  	<p>Coming Soon!</p>
						  	<ul class="view-nav">
						    	<li class="view-nav--contents"><a href="#event-info-nav" data-popview>Contents</a></li>
						  		<li class="view-nav--next"><a href="#faq" data-pushview>F.A.Q.</a></li>
						    </ul>
						  </div>
						</div> <!-- /course -->
						
						<div class="view" id="faq">
						  <div class="view-content">
						  	<h2>Frequently Asked Questions</h2>
						  	<h4>What is Team JDRF?</h4>
						  	<p>Team JDRF to Cure Diabetes is a unique and exciting way to fight diabetes. Participants choose Run locations and run for their choice of distance (usually a half or a full marathon) to raise money for JDRF. Runners from around the country take on two challenges: raising the money needed to fund research for better treatments and a cure for diabetes, and reaching a personal training goal to prepare for a race experience.</p>
						
						  	<h4>Where is my local chapter?</h4>
						  	<p>Working together, JDRF has more than 100 Chapters, Branches, and Affiliates worldwide. Please click here to locate your local JDRF chapter or call 888.533.9255 for further information.</p>
						
						  	<h4>Who can run?</h4>
						  	<p>Full marathon runners must be 18 years of age or older by the date of the Race.
						lf marathon runners must be 14 years of age or older by the date of the Race and must have a signed parental/guardian consent form.</p>
						
						  <h4>Is there a deadline for meeting my fundraising minimum?</h4>
						  <p>Yes. We understand that this may be the most money you have ever attempted to raise and you may feel unsure about whether you will be able to do it. We have found that if you follow the recommended guidelines and use the materials provided, you will be more successful than you think! Contact your JDRF Chapter for detailed information on fundraising schedules and timelines developed to help you reach your goals.</p>
						
						  <h4>Isn't it hard to meet the fundraising requirement?</h4>
						  <p>Not according to many of our past participants. Once you start contacting people, you will be surprised how quickly the money (and the admiration) rolls in. JDRF has created powerful online fundraising tools to make it easier for you to reach your goal, and your local JDRF chapter can help you with materials, ideas, and support.</p>
						
						  <h4>Are there different fundraising packages available?</h4>
						  <p>Yes, as a runner, you'll commit to a fundraising minimum (packages start at $2,000) and in exchange, JDRF will provide you with support and coaching during the months leading up to as well as throughout the JDRF Ride weekend. JDRF has created powerful online fundraising tools to make it easier for you to reach your goal, and your local JDRF chapter can help you with materials, ideas, and support.</p>
						
						  <h4>Does the required registration fee count towards my fundraising?</h4>
						  <p>Yes! The required registration fee will count toward your fundraising.</p>
						
						  <h4>What kind of training should I do?</h4>
						  <p>Our National Coach, Josh Maio, has excellent training plans for preparing for endurance Runs. We will help you adopt a training schedule and plan that is right for you.</p>
						
						  <h4>How much time do I have to commit to this?</h4>
						  <p>How much time you train is completely up to you. Your JDRF Coach can help you determine the best time commitment for your fitness level. If you are a novice, most coaches will recommend you begin training 16 weeks before a full marathon and 12 weeks before a half marathon.</p>
						  <ul class="view-nav">
						    	<li class="view-nav--contents"><a href="#event-info-nav" data-popview>Contents</a></li>
						  		<li class="view-nav--next"><a href="#description" data-pushview>Description</a></li>
						    </ul>
						  </div>
						</div> <!-- /faq -->
						
					
				</div>	<!-- / main content -->
								
			</div> <!-- /content__row -->
		
		</div> <!-- /page__row -->
	
	</div> <!-- /page__container -->
  
  <footer>
	<div class="site-menu--footer__wrap">
		<nav id="site-menu--footer" class="site-menu--footer" role="navigation">
		  <ul class="site-menu--footer__events">
		  	<li class="site-menu--footer__section-title">Events
		  		<li class="site-menu--footer__item"><a href="#">Search for an Event</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Team JDRF Challenge</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Community Events</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Training with Team JDRF</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__campaigns">
		  	<li class="site-menu--footer__section-title">Campaigns
		  		<li class="site-menu--footer__item"><a href="#">Search for a Campaign</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Start an Individual Campaign</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__about">
		  	<li class="site-menu--footer__section-title">Learn More
		  		<li class="site-menu--footer__item"><a href="#">About Team JDRF</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Fundraising</a></li>
		  		<li class="site-menu--footer__item"><a href="#">About JDRF</a></li>
		  		<li class="site-menu--footer__item"><a href="#">What is T1D?</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Tax Information</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__connect">
		  	<li class="site-menu--footer__section-title">Connect
		  	<li class="site-menu--footer__item"><a href="#">Contact JDRF</a></li>
		  	<li>
		  		<a href="#"><span class="icon-facebook"  aria-hidden="true"></span></a>
					<a href="#"><span class="icon-twitter"  aria-hidden="true"></span></a>
					<a href="#"><span class="icon-google-plus"  aria-hidden="true"></span></a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="footer-brand">
		<div class="footer-brand__container">
			<img class="footer-brand__logo--teamjdrf" src="../images/logo-team-to-cure-diabetes.svg"></img>
			<img class="footer-brand__logo--jdrf" src="../images/JDRF_2C_hex.svg"></img>
		</div>
	</div>

	<div class="footer-links--bottom-bar__wrap">
		<div class="footer-links--bottom-bar">
			<span><a href="http://jdrf.org/"><i class="icon-arrow-left"></i>&nbsp;&nbsp;JDRF.org</a></span>
			<span><a href="#">Privacy Policy</a></span>
			<span>&copy; JDRF 2013</span>
		</div>
	</div>

</footer>  
</div> <!-- /page -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="//jdrf.org/dev/jdrf-framework/js/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../js/simpleslideview.js"></script>
  <script src="../js/jdrf-teamjdrf.js"></script>
 
	  
</body>  
</html>