<!DOCTYPE html>
<!--[if lt IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Team JDRF to Cure Diabetes</title>
  
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6575652/749262/css/fonts.css" />
<link href="../css/jdrf.css" rel="stylesheet">
  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<link href="../css/jdrf-ltie9.css" rel="stylesheet">
	<script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/html5shiv.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/respond.min.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/js/selectivizr-min.js"></script>
<![endif]-->
  
<script src="//jdrf.org/dev/jdrf-framework/js/modernizr-2.6.2.min.js"></script>  
</head>

<body>
	<!--[if lt IE 8]>
  	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 
<div class="page" id="page">  
  
  <header id="top" role="banner" class="site-header">
	<span class="sr-only">Toggle Site Navigation</span>
	<a class="site-menu__toggle" data-toggle="offcanvas"><span class="icon-reorder"  aria-hidden="true"></span></a>
	
	<div class="site-header__container">
		<div class="site-header__row">
			<div class="site-header__logo">
				<a class="logo--team-jdrf" href="http://team.jdrf.org">Team JDRF</a>
			</div>
			<nav class="site-header__links">
			  <span class="site-header__links--left">
			  	<a href="#">Join an Event</a>
			  	<a href="#">Start an Event</a>
			  	<a href="#">Start a Campaign</a>
			  </span>
			  <span class="site-header__links--right">
			  	<a href="#" class="donate">Donate</a>
			  	<a href="#" class="login">Log in</a>
			  </span>
			</nav>
		</div>
	</div>
</header>  
  <nav id="full-site-menu" class="site-menu" role="navigation">
	
	<a data-toggle="offcanvas"><span class="icon-remove"></span></a>

  <ul class="site-menu__list">
  	<li class="site-menu__list--item donate"><a href="#">Donate</a></li>
  	<li class="site-menu__list--item login"><a href="#">Log in</a></li>
  	<li class="site-menu__list--item"><a href="#">Join an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start a Campaign</a></li>
  	<li class="site-menu__list--item more"><a data-toggle="collapse" data-target="#more" href="#">More</a></li>
  </ul>

<div id="more" class="collapse">  
  <ul class="site-menu__list">
  	<li class="site-menu__list--section-title">Events
  		<li class="site-menu__list--item"><a href="#">Search for an Event</a></li>
  		<li class="site-menu__list--item"><a href="#">Team JDRF Challenge</a></li>
  		<li class="site-menu__list--item"><a href="#">Community Events</a></li>
  		<li class="site-menu__list--item"><a href="#">Training with Team JDRF</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Campaigns
  		<li class="site-menu__list--item"><a href="#">Search for a Campaign</a></li>
  		<li class="site-menu__list--item"><a href="#">Start an Individual Campaign</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Fundraising
  			<li class="site-menu__list--item"><a href="#">Fundraising Tips</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Fundraising
  		<li class="site-menu__list--item"><a href="#">Fundraising Tips</a></li>
  	</li>
  	<li class="site-menu__list--section-title">About
  		<li class="site-menu__list--item"><a href="#">About Team JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">About JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">What is T1D?</a></li>
  		<li class="site-menu__list--item"><a href="#">Tax Information</a></li>
  		<li class="site-menu__list--item"><a href="#">Contact JDRF</a></li>
  	</li>
  </ul>
</div> 
</nav>
	<div class="page__container">
	
		<ol class="breadcrumb">
			<li><a href="#"><span class="icon-home"></span></a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Disney Marathon 2014</a></li>
		</ol>
	
		<div class="page__row">
		
		
		</div> <!-- /page__row -->
	
	</div> <!-- /page__container -->
  
  <footer>
	<div class="footer-brand">
		<div class="footer-brand__container">
			<img class="footer-brand__logo--teamjdrf" src="../images/logo-team-to-cure-diabetes.svg"></img>
			<div class="footer-brand--logo--teamjdrf"></div>
			<div class="footer-brand__row">
				<p class="footer-brand__description">A program to support JDRF's plan to turn<br/><strong>Type One into Type None</strong>.</p>
				<img class="footer-brand__logo--jdrf" src="../images/JDRF_2C_hex.svg"></img>
				<div class="footer-brand__logo--jdrf"></div>
			</div>
		</div>
	</div>
	<div class="footer-links">
		<div class="footer-links__social-sites">
			<a href="#"><span class="icon-facebook"  aria-hidden="true"></span></a>
			<a href="#"><span class="icon-twitter"  aria-hidden="true"></span></a>
			<a href="#"><span class="icon-google-plus"  aria-hidden="true"></span></a>
		</div>
		<div class="footer-links__jdrf-links">
			<span><a href="http://jdrf.org/"><i class="icon-arrow-left"></i>&nbsp;&nbsp;JDRF.org</a></span>
			<span><a href="#">Contact Us</a></span>
			<span><a href="#">Privacy Policy</a></span>
			<span>&copy; JDRF 2013</span>
		</div>
	</div>
</footer>  
</div> <!-- /page -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../js/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/js/jdrf-teamjdrf.js"></script>
  <script type="text/javascript">
  	$.noConflict();
		// Code that uses other library's $ can follow here.
	</script>
  
</body>  

</html>