<!DOCTYPE html>
<!--[if lt IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Community Event Page / Team JDRF to Cure Diabetes</title>
  
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6575652/749262/css/fonts.css" />
<link href="../css/jdrf.css" rel="stylesheet">
  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<link href="../css/jdrf-ltie9.css" rel="stylesheet">
	<script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/html5shiv.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/assets/js/respond.min.js"></script>
  <script src="//jdrf.org/dev/jdrf-framework/js/selectivizr-min.js"></script>
<![endif]-->
  
<script src="//jdrf.org/dev/jdrf-framework/js/modernizr-2.6.2.min.js"></script>  
</head>

<body>
	<!--[if lt IE 8]>
  	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 
<div class="page" id="page">  
  
  <header id="top" role="banner" class="site-header">
	<span class="sr-only">Toggle Site Navigation</span>
	<a class="site-menu__toggle" data-toggle="offcanvas"><span class="icon-reorder"  aria-hidden="true"></span></a>
	
	<div class="site-header__container">
		<div class="site-header__row">
			<div class="site-header__logo">
				<a class="logo--team-jdrf" href="http://team.jdrf.org">Team JDRF</a>
			</div>
			<nav class="site-header__links">
			  <span class="site-header__links--left">
			  	<a href="#">Join an Event</a>
			  	<a href="#">Start an Event</a>
			  	<a href="#">Start a Campaign</a>
			  </span>
			  <span class="site-header__links--right">
			  	<a href="#" class="donate">Donate</a>
			  	<a href="#" class="login">Log in</a>
			  </span>
			</nav>
		</div>
	</div>
</header>  
  <nav id="full-site-menu" class="site-menu" role="navigation">
	
	<a data-toggle="offcanvas"><span class="icon-remove"></span></a>

  <ul class="site-menu__list">
  	<li class="site-menu__list--item donate"><a href="#">Donate</a></li>
  	<li class="site-menu__list--item login"><a href="#">Log in</a></li>
  	<li class="site-menu__list--item"><a href="#">Join an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start an Event</a></li>
  	<li class="site-menu__list--item"><a href="#">Start a Campaign</a></li>
  	<li class="site-menu__list--item more visible-xs"><a data-toggle="collapse" data-target="#more" href="#">More</a></li>
  </ul>

<div id="more" class="collapse">  
  <ul class="site-menu__list">
  	<li class="site-menu__list--section-title">Events
  		<li class="site-menu__list--item"><a href="#">Search for an Event</a></li>
  		<li class="site-menu__list--item"><a href="#">Team JDRF Challenge</a></li>
  		<li class="site-menu__list--item"><a href="#">Community Events</a></li>
  		<li class="site-menu__list--item"><a href="#">Training with Team JDRF</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Campaigns
  		<li class="site-menu__list--item"><a href="#">Search for a Campaign</a></li>
  		<li class="site-menu__list--item"><a href="#">Start an Individual Campaign</a></li>
  	</li>
  	<li class="site-menu__list--section-title">Learn More
  		<li class="site-menu__list--item"><a href="#">About Team JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">Fundraising</a></li>
  		<li class="site-menu__list--item"><a href="#">About JDRF</a></li>
  		<li class="site-menu__list--item"><a href="#">What is T1D?</a></li>
  		<li class="site-menu__list--item"><a href="#">Tax Information</a></li>
  		<li class="site-menu__list--item"><a href="#">Contact JDRF</a></li>
  	</li>
  </ul>
</div> 
</nav>
	<div class="page__container">
	
		<ol class="breadcrumb">
			<li><a href="#"><span class="icon-home"></span></a></li>
			<li><a href="#">Community Events</a></li>
		</ol>
	
		<div class="page__row">
		
			<div class="page-header">
				
				<h1 class="page-headline--event-name">2013 STRIKEoutDiabetes</h1>
				
				<div class="event-page__info">
					<ul class="event-details">
						<li class="event-details__date">January 9 - 12, 2014</li>
						<li class="event-details__location">AMF Lewisville Lanes, Lewisville, Texas</li>
					</ul>					
				</div>
			
				<div class="fundraising-page__team-info">
					
					<div class="fundraising-progress-bar  fundraising-progress-bar--TJDRF">
						<span></span>
					</div>
					
					<div class="fundraising-stats--team-page">
						<div class="fundraising-stats__amount">
							$12,345<br/><span class="fundraising-stat__label">We have raised</span>
						</div>
						<div class="fundraising-stats__goal">
							$20,000<br/><span class="fundraising-stat__label">Our goal</span>
						</div>
						<div class="fundraising-stats__percent">
							62%<br/><span class="fundraising-stat__label">Achieved</span>
						</div>
					</div>
					
				</div> <!-- /page-header -->
				
				<div class="fundraising-page__actions">
					<div class="row">
						<div type="button" role="register" class="btn btn-green btn-lg btn-block" href="#">Buy Tickets</div>
						<div type="button" role="donate" class="btn btn-primary btn-lg btn-block" href="#members" data-toggle="tab">Donate<span class="hidden-text-xs"> to this Event</span></div>
					</div>
				</div>
		
			</div>
		
			<div class="content__row">
			
				<ul class="nav nav-tabs nav-tabs--main-content">
					<li class="active"><a href="#ourStory" data-toggle="tab">Our Story</a></li>
					<li><a href="#details" data-toggle="tab">Details</a></li>
					<li><a href="#ticketInfo" data-toggle="tab">Ticket Info</a></li>
				</ul>
				
				<div class="content__main tab-content">
					<article id="ourStory" class="tab-pane active" role="main">
							
							<p><img class="participant-photo" src="../images/placeholder__community--strikeoutdiabetes.png" alt="Barnes Family" /></p>
							
							<h2>Join the Barnes Family and Friends to help STRIKEoutDiabetes!</h2>
					
						<p>We're taking steps to help JDRF progressively remove the impact of type 1 diabetes (T1D) from people's lives until no one has to fear developing this disease. By joining Team JDRF and making a donation to JDRF, you'll raise money to help fund critical T1D research and create a world without T1D.</p>

						<p>Type 1 diabetes is a life-threatening autoimmune disease in which a person's pancreas stops producing insulin. It strikes both children and adults suddenly and changes life as they know it forever. It cannot be prevented and there is no cure.</p>

						<p>JDRF is the only global organization with a strategic research plan to fight T1D. Every dollar JDRF is able to direct toward research comes from donors like you.</p>

						<p>The challenge we've set ourselves — to raise money for JDRF and to race — is modest compared to the daily challenges of life with T1D, which involves a 24/7, unrelenting cycle of blood sugar testing and insulin injections to manage the disease.</p>

						<p>Each member of our team is already hard at work in their fundraising. If you have taken time to visit our team page today, we ask that you consider making a donation to one of our team members by clicking on their name below.</p>

						<p>Thank you for your support!</p>
						
					</article> <!-- /ourStory pane -->
					<div id="details" class="tab-pane">
						<div class="table--community-events-details table-responsive">
								<table class="table table-striped">
										<body>
											<tr>
												<td>Venue:</td>
												<td>AMF Lewisville Lanes</td>
											</tr>
											<tr>
												<td>Start:</td>
												<td>12:00 PM</td>
											</tr>
											<tr>
												<td>Ends:</td>
												<td>4:00 PM</td>
											</tr>
											<tr>
												<td>Registration Cutoff:</td>
												<td>04/26/2013 11:45 PM</td>
											</tr>
											<tr>
												<td>Donation Cutoff:</td>
												<td>12/31/2013 12:00 pm</td>
											</tr>
											<tr>
												<td>Contact:</td>
												<td>Lynda Barnes</td>
											</tr>
											<tr>
												<td>Phone:</td>
												<td>214-373-9808</td>
											</tr>
											<tr>
												<td>Email:</td>
												<td><a href="mailto:strikeoutdiabetes@yahoo.com">strikeoutdiabetes@yahoo.com</a></td>
											</tr>
										<tbody>
								</table>
							</div> <!-- / details table -->
					</div> <!-- / details pane -->
					
					<div id="ticketInfo" class="tab-pane">
						<h3>Ticket Information</h3>
						<p>Great info!</p>
					</div> <!-- / tickets pane -->
				</div>	<!-- / tabbed content -->
					
				<div class="content__sidebar" role="complimentary">
				
					<h3>More Info</h3>
					<ul class="nav nav--child-pages push-down-more">
						<li class="active"><a href="#">Event Home</a></li>
						<li><a href="#">Here's Another Page</a></li>
						<li><a href="#">Last Page You'll Need to Read</a></li>
					</ul>		
								
					<div class="widget--social-share">
						<h3>Spread the Word</h3>
						<a href="#"><span class="icon-facebook"  aria-hidden="true"></span></a>
						<a href="#"><span class="icon-twitter"  aria-hidden="true"></span></a>
						<a href="#"><span class="icon-google-plus"  aria-hidden="true"></span></a>
						<a href="#"><span class="icon-envelope"  aria-hidden="true"></span></a>
					</div> <!-- /social share -->
										
					<div class="widget--donor-honor-roll">
						<h3>Top Donors</h3>
						<div class="honor-roll">
							<p>Joshua Luster<br/><span class="honor-roll__donation-amount">$50.00</span></p>
							<p>JSC Speed</p>
							<p>Keith Moyer<br/><span class="honor-roll__donation-amount">$250.00</span></p>
						</div>
						<a href="#" class="btn btn-outline">All Donors</a>
					</div> <!-- /donor honor roll -->

				</div> <!-- /sidebar -->
			
			</div> <!-- /content__row -->
		
		</div> <!-- /page__row -->
	
	</div> <!-- /page__container -->
  
  <footer>
	<div class="site-menu--footer__wrap">
		<nav id="site-menu--footer" class="site-menu--footer" role="navigation">
		  <ul class="site-menu--footer__events">
		  	<li class="site-menu--footer__section-title">Events
		  		<li class="site-menu--footer__item"><a href="#">Search for an Event</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Team JDRF Challenge</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Community Events</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Training with Team JDRF</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__campaigns">
		  	<li class="site-menu--footer__section-title">Campaigns
		  		<li class="site-menu--footer__item"><a href="#">Search for a Campaign</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Start an Individual Campaign</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__about">
		  	<li class="site-menu--footer__section-title">Learn More
		  		<li class="site-menu--footer__item"><a href="#">About Team JDRF</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Fundraising</a></li>
		  		<li class="site-menu--footer__item"><a href="#">About JDRF</a></li>
		  		<li class="site-menu--footer__item"><a href="#">What is T1D?</a></li>
		  		<li class="site-menu--footer__item"><a href="#">Tax Information</a></li>
		  	</li>
		  </ul>
		  <ul class="site-menu--footer__connect">
		  	<li class="site-menu--footer__section-title">Connect
		  	<li class="site-menu--footer__item"><a href="#">Contact JDRF</a></li>
		  	<li>
		  		<a href="#"><span class="icon-facebook"  aria-hidden="true"></span></a>
					<a href="#"><span class="icon-twitter"  aria-hidden="true"></span></a>
					<a href="#"><span class="icon-google-plus"  aria-hidden="true"></span></a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="footer-brand">
		<div class="footer-brand__container">
			<img class="footer-brand__logo--teamjdrf" src="../images/logo-team-to-cure-diabetes.svg"></img>
			<img class="footer-brand__logo--jdrf" src="../images/JDRF_2C_hex.svg"></img>
		</div>
	</div>

	<div class="footer-links--bottom-bar__wrap">
		<div class="footer-links--bottom-bar">
			<span><a href="http://jdrf.org/"><i class="icon-arrow-left"></i>&nbsp;&nbsp;JDRF.org</a></span>
			<span><a href="#">Privacy Policy</a></span>
			<span>&copy; JDRF 2013</span>
		</div>
	</div>

</footer>  
</div> <!-- /page -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="//jdrf.org/dev/jdrf-framework/js/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="//jdrf.org/dev/jdrf-framework/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../js/jdrf-teamjdrf.js"></script>
  <script type="text/javascript">
  	$.noConflict();
		// Code that uses other library's $ can follow here.
	</script>
  
</body>  

</html>